Flask >= 1.1.1,<1.2
Flask-Cors >= 3.0.8
numpy >= 1.5.1
markupsafe >= 2.0.1
jinja2<3.1.0
Flask-SocketIO >= 5.3.6
selenium >= 3.141.0
python-xlib==0.27
requests==2.24.0
opencv-python==4.2.0.34
PyVirtualDisplay==0.2.5
pyscreenshot==1.0
pillow==7.1.2
pyautogui==0.9.50
keyboard
networkx
pandas
scipy
Flask-RangeRequest
torch
torchvision
torchaudio
scipy
scikit-learn
